header {
    // padding: 7% 0;
    // text-align: center;
    // margin-top: 85px;
    // padding-bottom: 0;

    @include desktop {
        margin-top: 0;
    }

    .logo {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;


        @include desktop {
            width: 100%;
            margin-top: 5rem;
        }
    }

    a {
        text-decoration: none;
        position: relative;
        display: block;
        width: 45%;
        margin: auto;

        h1 {
            font-family: $cursive-font;
            color: $dark-gray;
            margin-bottom: 0;
            font-size: 47px;
        }

        h2 {
            font-family: $font-stack;
            color: $lighter-pink;
            margin-top: 0;
        }
    }


}